{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}AllynH - Vault{% endblock %}

{% block page_content %}
<div>
	<h2>Welcome to your vault!</h2>
	<a href=" {{ url_for('index') }} ">Return to login page.</a></br>

	<div class="emblem-image">
		<img class="image-background" src="https://www.bungie.net/{{ backgroundImage }}">
		<img class="image-icon" src="https://www.bungie.net/{{ emblemImage }}">
		<p>Welcome, {{ character }}!</p></br>
		Your current light level is: {{ lightLevel }} </p>
	</div>

		
	
    <div class="inventory-container">
        <div class="container">
            <h2>Vault contents:</h2>

			</div>
		</div>

{% for item in invItems -%}
<div class="inventory-container">
	<div class="container">
	<h2>{{ invItems[item] }}:</h2>
	{% for dict_item in weaponList -%}
	
		{% if invItems[item] in dict_item['bucket'] -%}
			{% include 'itemBlock.html' -%}
		{% endif -%}

	{% endfor -%}	
	</div>
</div>
{% endfor -%}
		
{% endblock %}